# Flutter/Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/

# Android
.gradle/
local.properties
/android/app/build/
/android/.gradle/
/android/app/debug/
/android/app/profile/
/android/app/release/

# iOS
.generated/
Flutter/App.framework
Flutter/Flutter.framework
Flutter/Generated.xcconfig