name: Android Build
on:
  push:
    branches: [ main ]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: subosito/flutter-action@v2
        with:
          flutter-version: '3.24.5'
      
      - name: Get Dependencies
        run: flutter pub get

      - name: Build APK
        # اضافه کردن flag برای نادیده گرفتن تمام هشدارهای نسخه‌ای
        run: flutter build apk --release --no-tree-shake-icons --android-skip-build-dependency-validation

      - name: Upload APK Artifact
        uses: actions/upload-artifact@v4
        with:
          name: release-apk
          # این آدرس جدید تمام زیرپوشه‌ها را برای یافتن هر فایلی که تهش .apk است جستجو می‌کند
          path: "**/build/app/outputs/flutter-apk/*.apk"