name: Android Build
on:
  push:
    branches: [ main ]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4 # آپدیت به نسخه ۴
      - uses: subosito/flutter-action@v2
        with:
          flutter-version: '3.24.5'
          channel: 'stable'
      - run: flutter pub get
      - run: flutter build apk --release --no-tree-shake-icons --android-skip-build-dependency-validation
      - name: Upload APK
        uses: actions/upload-artifact@v4 # آپدیت به نسخه ۴ (حل ارور تصویر آخر)
        with:
          name: release-apk
          path: build/app/outputs/flutter-apk/app-release.apk